/* MAIN PAGE CONTAINER */
/*#page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }*/
  
@media screen and (min-width: 1023px) {
  #page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#scrollContainer {
  width: 100%;
  position: absolute; }

/* SECTION */
.block {
  width: 100%;
  height: 1400px; }

.red {
  background-color: #f0f0f0; }

.blue {
  background-color: #e0e0e0; }

.green {
  background-color: #d0d0d0; }

.black {
  background-color: #c0c0c0; }

/* CONTENT */
.square {
  background: #bada55;
  height: 556px;
  width: 100%; }

.cascade {
  background: #c0ffee;
  height: 200px;
  -webkit-transition: -webkit-transform 500ms, opacity 500ms;
          transition: transform 500ms, opacity 500ms;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); }